#page {
    background-image: url(https://github.com/astrosteiner/astrosteiner.github.io/blob/main/photo/me.png?raw=true);
    background-size: cover;
    height: 790px;
}

#text {
    color: rgb(43, 43, 43);
}

li {
    color: rgb(43, 43, 43);
    /* font-size: 20px; */
}

.bkg {
    background-color: #ff000000;
}

.wrapper {
   /* position: fixed; */
   /* left: 20rem; */
   width: 80%;
   justify-content: center;
}

.topbar {
    text-align: center;
}

.leftbar {
    position: absolute;
    padding: .5rem;
    left: 2rem;
    width: 10rem;
    background-color: #636363;
    text-align: left;

}

.content {
    position: absolute;
    padding: 1rem;
    left: 15rem;
    width: 70%;
    /* height: 30rem; */
    background-color: #979797; 
    text-align: justify;  
}

iframe {
    width: 100%;
    background-color: #63636300;
    border: none;
    height:40rem;
}

/* Sourced from W3 */
table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #7e7e7e;
}